body {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 20vh;
}

#titre {
    font-size: 10vh;
    text-transform: uppercase;
    color: rgb(235, 235, 56);
}

#canva {
    border: solid yellow;
}